@charset "UTF-8";
@tailwind base;
@tailwind components;
@tailwind utilities;
.btnsetr {
  @apply inline-flex items-center px-4 py-2 bg-red-600 border border-transparent rounded-md font-semibold text-base text-white uppercase tracking-widest hover:bg-red-700 focus:bg-red-700 active:bg-red-900 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 transition ease-in-out duration-150 ml-2;
}

.btnsetg {
  @apply inline-flex items-center px-4 py-2 bg-gray-600 border border-transparent rounded-md font-semibold text-base text-white uppercase tracking-widest hover:bg-gray-700 focus:bg-gray-700 active:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 transition ease-in-out duration-150;
}

フォントデザイン 後ほど body {
  font-family: "Futura", "sans-serif";
}

.header__container {
  background-color: black;
  top: 0px;
  height: 100px;
  z-index: 999;
  /* width: 100%; */
  /* -webkit-transition: all .3s; */
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  font-size: 20px;
}

.header__container__text a {
  color: #E7B564;
  float: left;
  margin-left: 30px;
  margin-top: 30px;
  position: relative;
}

.header__container__text a::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #E7B564;
  bottom: 20px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.header__container__text a:hover::after {
  visibility: visible;
  bottom: -1px;
  opacity: 1;
}

.header__container__right a {
  color: #E7B564;
  float: right;
  margin-right: 50px;
  margin-top: 30px;
  position: relative;
}

.header__container__right a::after {
  position: absolute; /*親要素であるaタグを基準に位置を指定*/
  left: 0; /*アンダーラインを各メニュー（aタグ）の左端に指定*/
  content: ""; /*本来は、擬似要素に入るテキストなどを’’内に指定。今回はアンダーラインなので何も記載しない*/
  width: 100%; /*アンダーラインを各aタグの幅に合わせる*/
  height: 2px; /*アンダーラインの高さ（太さ）*/
  background: #E7B564; /*アンダーラインの色*/
  bottom: 20px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.header__container__right a:hover::after {
  visibility: visible;
  bottom: -1px;
  opacity: 1;
}

.heading {
  background-image: url(../../public/logo/inuneko.png);
  height: 500px;
  width: 100%;
  background-size: cover;
}
.heading__container {
  text-align: center;
}
.heading__container__subtext {
  font-size: 40px;
  padding-top: 150px;
  font-weight: 900;
  color: rgba(245, 245, 245, 0.7);
  -webkit-text-stroke: 1px #000;
  font-family: "Kokoro";
}
.heading__container__maintext {
  font-size: 70px;
  font-weight: 1000;
  color: rgba(245, 245, 245, 0.7);
  -webkit-text-stroke: 1px #000;
  font-family: "Kokoro";
}

.top-wrapper {
  height: 300px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.top-wrapper__areas {
  display: flex;
  justify-content: space-between;
}

.areas-search {
  font-size: 20px;
  font-weight: bold;
  padding-top: 40px;
  padding-bottom: 30px;
}

.area-icon {
  position: relative;
}

.area-icon img {
  opacity: 0.6;
  position: relative;
  margin-left: 25px;
  width: 180px;
  height: 120px;
  border-radius: 10px;
}

.area-icon p {
  position: absolute;
  top: 40px;
  left: 90px;
  font-weight: bold;
  font-size: 24px;
  display: inline-block;
  color: black;
  text-decoration: none;
  transition: 0.3s;
  transform: scale(1);
}

.area-icon p:hover {
  transform: scale(1.7);
}

.naha-detail-area a {
  text-decoration: none;
}

.favorite {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 250px;
  padding-bottom: 100px;
}

.naha-detail-area,
.nanbu-detail-area,
.tyubu-detail-area,
.hokubu-detail-area {
  display: none;
  font-size: 20px;
  margin-left: 70px;
  margin-top: 30px;
}
.naha-detail-area a,
.nanbu-detail-area a,
.tyubu-detail-area a,
.hokubu-detail-area a {
  display: inline-block;
  color: black;
  font-size: 120%;
  text-decoration: none;
  transition: 0.3s;
  transform: scale(1);
}
.naha-detail-area a:hover,
.nanbu-detail-area a:hover,
.tyubu-detail-area a:hover,
.hokubu-detail-area a:hover {
  transform: scale(1.1);
}